@using MultiMarket.Models
@model MultiMarket.Libraries.Pagination.PaginationEngine<Produto>
@{
    ViewData["Title"] = "Index";
    string pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Produto</h1>

<script src="~/js/Actions.js"></script>
<form method="get" asp-action="Index">
    <p>
        <input type="text" name="pesquisa" id="pesquisa" class="form-control" value="@pesquisa" />
        <button type="submit" class="btn btn-info">Procurar</button>
    </p>
</form>
@if (Model.Elementos.Count > 0)
{

    if (TempData["MSG_S"] != null)
    {
        <p class="alert alert-success">@TempData["MSG_S"]</p>
    }
    <div class="table-responsive">
        <p><a asp-action="Cadastrar" class="btn btn-info">Cadastrar</a></p>
        <table class="table">
            <thead>
                <tr>
                    <!--ESSE COMANDO SERVE PARA MOSTRAR O NOME DA PROPRIEDADE DO ELEMENTO CAPTURADO-->
                    <th scope="col">@Html.DisplayNameFor(A => A.Elementos.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(A => A.Elementos.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(A => A.Elementos.First().Categoria)</th>
                    <th scope="col">@Html.DisplayNameFor(A => A.Elementos.First().Valor)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MultiMarket.Models.Produto produto in Model.Elementos)
                {
                    <tr>
                        <th scope="row">@produto.Id</th>
                        <td>@produto.Nome</td>
                        <td>@Html.DisplayFor(A => produto.Categoria.Nome)</td>
                        <td>@produto.Valor</td>
                        <td>
                            <a class="btn btn-success" asp-action="Atualizar" asp-route-id="@produto.Id">Atualizar</a>
                            <a class="btn btn-danger" asp-action="Excluir" asp-route-id="@produto.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";


    <a asp-action="Index"
       asp-controller="Produto"
       asp-route-pagina=@(Model.PageIndex-1)
       asp-route-pesquisa="@pesquisa"
       asp-area="Colaborador"
       class="btn btn-dark @prevDisabled">
        Voltar
    </a>
    <a asp-action="Index"
       asp-controller="Produto"
       asp-route-pagina=@(Model.PageIndex+1)
       asp-route-pesquisa="@pesquisa"
       asp-area="Colaborador"
       class="btn btn-dark @nextDisabled">
        Avançar
    </a>
}
else
{<p>Não há registros cadastrados!</p>}